[submodule "modules/lora"]
  path = modules/lora
  url = https://github.com/kohya-ss/sd-scripts
  ignore = dirty
[submodule "modules/lycoris"]
	path = modules/lycoris
	url = https://github.com/KohakuBlueleaf/LyCORIS
  ignore = dirty
